<HTML>
	<head>
		<style type="text/css">
			body{border: 0; margin: 0; padding: 3px; font-family:arial; font-size:12pt;}
		</style>
	</head>
	<body style="background-repeat: no-repeat no-repeat;">
		<BR/>
		<BR/>
		<FONT face="Verdana" color="#c0c0c0" size="2">
			<img src="common/ext/resources/images/mail/MACRO/_FoxDATE.gif">
		</FONT>
		<BR/>
		<HR style="WIDTH: 122px; HEIGHT: 2px" align="left" SIZE="2" />
		<img src="common/ext/resources/images/mail/MACRO/_FoxFROMNAME.gif" />
		<BR/>
		All transactions are subject to our company's standard trading terms and conditions,copy available upon request.
		<HR color="#B5C4DF" size=1 width=600 align="left" />
		<FONT face="Verdana" size="2">
			<STRONG>From：</STRONG>
			<IMG src="common/ext/resources/images/mail/MACRO/_FoxOFROMNAME.gif">
		</FONT>
		<FONT face="Verdana" size="2"><STRONG>At：</STRONG><IMG src="common/ext/resources/images/mail/MACRO/_FoxODATE.gif"></FONT>
		<BR/>
		<FONT face="Verdana" size="2"><STRONG>To：</STRONG><IMG src="common/ext/resources/images/mail/MACRO/_FoxOTONAME.gif"></FONT>
		<BR/>
		<FONT face="Verdana" size="2"><STRONG>Cc：</STRONG><IMG src="common/ext/resources/images/mail/MACRO/_FoxOCCNAME.gif"></FONT>
		<BR/>
		<FONT face="Verdana" size="2"><STRONG>Subject：</STRONG><IMG src="common/ext/resources/images/mail/MACRO/_FoxOSUBJ.gif"></FONT>
		<BR/>
		<IMG src="common/ext/resources/images/mail/MACRO/_FoxTEXT.gif"></FONT>
		<BR/>
	</body>
</HTML>
