<HTML>
	<head>
		<style type="text/css">
			body{border: 0; margin: 0; padding: 3px; font-family:arial; font-size:12pt;}
		</style>
	</head>
	<body style="background-repeat: no-repeat no-repeat;">
		<BR/>
		<BR/>
		<FONT face="Verdana" color="#c0c0c0" size="2">
			<img src="common/ext/resources/images/mail/MACRO/_FoxDATE.gif">
		</FONT>
		<BR/>
		<HR style="WIDTH: 122px; HEIGHT: 2px" align="left" SIZE="2" />
		<img src="common/ext/resources/images/mail/MACRO/_FoxFROMNAME.gif" />
	</body>
</HTML>


